<mat-dialog-content [formGroup]="form" class="form">
  <mat-form-field class="form__field" appearance="outline">
    <mat-label>{{ 'dialog.form.firstName.label' | translate }} </mat-label>
    <input matInput formControlName="first_name" required />
    <mat-error *ngIf="form.controls.first_name.touched && form.controls.first_name.invalid">
      <span *ngIf="form.controls.first_name.errors.required">{{ 'dialog.form.firstName.error' | translate }}</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form__field" appearance="outline">
    <mat-label>{{ 'dialog.form.lastName.label' | translate }} </mat-label>
    <input matInput formControlName="last_name" required />
    <mat-error *ngIf="form.controls.last_name.touched && form.controls.last_name.invalid">
      <span *ngIf="form.controls.last_name.errors.required">{{ 'dialog.form.lastName.error' | translate }}</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form__field" appearance="outline">
    <mat-label>{{ 'dialog.form.email.label' | translate }} </mat-label>
    <input matInput formControlName="email" required />
    <mat-error *ngIf="form.controls.email.touched && form.controls.email.invalid">
      <span *ngIf="form.controls.email.errors.required">{{ 'dialog.form.email.error' | translate }}</span>
      <span *ngIf="form.controls.email.errors.pattern">{{ 'dialog.form.email.patternError' | translate }}</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form__field" appearance="outline">
    <mat-label>{{ 'dialog.form.phone.label' | translate }} </mat-label>
    <input matInput formControlName="phone" required />
    <mat-error *ngIf="form.controls.phone.touched && form.controls.phone.invalid">
      <span *ngIf="form.controls.phone.errors.required">{{ 'dialog.form.phone.error' | translate }}</span>
      <span *ngIf="form.controls.phone.errors.pattern">{{ 'dialog.form.phone.errorPattern' | translate }}</span>
      <span *ngIf="form.controls.phone.errors.invalidFirstCharacter">{{ 'dialog.form.phone.errorFirstCharacter' | translate }}</span>
      <span *ngIf="form.controls.phone.errors.minLength || form.controls.phone.errors.maxLength">{{ 'dialog.form.phone.errorLength' | translate }}</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form__field" appearance="outline">
    <mat-label>{{ 'dialog.form.birthday.label' | translate }} </mat-label>
    <input matInput [max]="maxDate" [matDatepicker]="picker" formControlName="birthday" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="form.controls.birthday.touched && form.controls.birthday.invalid">
      <span *ngIf="form.controls.birthday.errors.required">{{ 'dialog.form.birthday.error' | translate }}</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form__field" appearance="outline">
    <mat-label>{{ 'dialog.form.type.label' | translate }} </mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of types" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls.type.touched && form.controls.type.invalid">
      <span *ngIf="form.controls.type.errors.required">{{ 'dialog.form.type.error' | translate }}</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="form__field" appearance="outline">
    <mat-label>{{ 'dialog.form.subtype.label' | translate }} </mat-label>
    <mat-select formControlName="subtype">
      <mat-option *ngFor="let subtype of usersService.subtypes[form.get('type').value]" [value]="subtype">
        {{ subtype }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls.subtype.touched && form.controls.subtype.invalid">
      <span *ngIf="form.controls.subtype.errors.required">{{ 'dialog.form.subtype.error' | translate }}</span>
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="save()">
    {{ 'dialog.buttons.save' | translate }}
  </button>
  <button class="mat-raised-button" (click)="close()">
    {{ 'dialog.buttons.close' | translate }}
  </button>
</mat-dialog-actions>
