<div class="container">
  <div class="form">
    <form [formGroup]="login" (submit)="submitLogin()">
      <mat-form-field class="form__field" appearance="outline">
        <mat-label>{{ 'login.username.fieldName' | translate }} </mat-label>
        <input matInput formControlName="username" required />
        <mat-error *ngIf="login.controls.username.touched && login.controls.username.invalid">
          <span *ngIf="login.controls.username.errors.required">{{ 'login.username.error' | translate }}</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form__field" appearance="outline">
        <mat-label>{{ 'login.password.fieldName' | translate }} </mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="login.controls.password.touched && login.controls.password.invalid">
          <span *ngIf="login.controls.password.errors.required">{{ 'login.password.error' | translate }}</span>
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="loginError">
        <div class="form__general-error">{{ 'login.password.error' | translate }}</div>
      </mat-error>
      <button mat-raised-button color="primary" type="submit">{{ 'login.submit' | translate }}</button>
    </form>
  </div>
</div>
