.users-table {
  width: 100%;

  & td,
  & th {
    width: calc(100% / 7);
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.panel {
  margin: 40px;
  padding: 40px;
  box-sizing: border-box;
}
