<div class="panel mat-elevation-z8">
  <div class="panel__add-button">
    <button mat-button (click)="editUser(emptyUser)">{{ 'panel.add' | translate }}</button>
  </div>
  <mat-form-field>
    <mat-label>{{ 'panel.filter' | translate }}</mat-label>
    <input id="panel-filter" matInput (keyup)="filterTable($event.target.value)" placeholder="{{ 'panel.filterPlaceholder' | translate }}" #input />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table class="users-table" mat-table [dataSource]="users" matSort>
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'panel.columns.firstName' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.first_name }}</td>
      </ng-container>

      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'panel.columns.lastName' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.last_name }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'panel.columns.email' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'panel.columns.phone' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.phone }}</td>
      </ng-container>

      <ng-container matColumnDef="birthday">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'panel.columns.birthday' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.birthday | date: 'dd/MM/YYYY' }}</td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'panel.columns.type' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.type }}</td>
      </ng-container>

      <ng-container matColumnDef="subtype">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'panel.columns.subtype' | translate }}</th>
        <td mat-cell *matCellDef="let element">{{ element.subtype }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'panel.columns.actions' | translate }}</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="editUser(element)">Edytuj</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="7">{{ 'panel.noResult' | translate }} "{{ input.value }}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>
